<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Profile EJS Page
    <br>
    <br>
    Welcome <%=name%><br>
    RollNo : <%=rollno%><br>
    Age : <%=age%><br>
    Gender : <%=gender%><br>
    Attempts : <%=attempts%><br>
    HighScore : <%=highScore%><br>

    <a href="/users/startQuiz">Quiz Start</a>
    <a href="/users/logout">Logout</a>
</body>
</html>